<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pjGestionEmpleados.Properties.Settings.cn" connectionString="Data Source=DESKTOP-MKDIP02\SQLEXPRESS;Initial Catalog=db_gestion_empleados;User ID=m@nu;Password=Manudiaz1;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>